#container{
    background-color:rgb(253,239,236);
}

#form{
    /* border:1px solid red; */
    width:25%;
    background-color:white;
    margin-bottom: 95px;
}

#log{
    display: flex;
    justify-content: center;
  
}

#img_div{
    width: 25%;
}

#o_div{
   display:flex;
    justify-content: center;
 

}

#img{
    margin-top: 60px;
    width:100%;
}

#form>p{
    padding-left:7%;
}

#num,#btn{
    margin-left: 7%;
}

#num{
    width: 85%;
    height:12%;
    padding-left: 10%;
    margin-bottom: 5%;
    outline: none;
}
#btn{
    width:85%;
    height:12%;
    background: #ff3f6c;
    border: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 20px;
}
#p a{
    color: #ff3c6f;;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
}

h5{
    padding-left: 7%;
    margin-top: 40px;
    font-weight: bold;
}

h5 span{
    font-size: 20px;
    color: grey;
    font-weight: 400;
}

.plcnum{
    color: #94969f;
    top: -15%;
    left: 32px;
    position: relative;
    pointer-events: none;
}

#p{
    padding-bottom: 10px;
}